:root {
  --nbri-are-small: 0.8;
}

$global-animation-delay: 0.6;

.titleTextTypography {
  transition: font-size 0.1s ease-out;
  @media (max-width: 590px) {
    font-size: 1.4rem !important;
    justify-self: left !important;
  }

  @media (max-width: 340px) {
    font-size: 1.4rem !important;
    justify-self: left !important;
  }

  @media (max-width: 310px) {
    font-size: 1.2rem !important;
    justify-self: left !important;
  }

  @media (max-width: 254px) {
    font-size: 0.8rem !important;
    word-spacing: 9999px !important;
    white-space: pre-line !important;
    justify-self: left !important;
  }

  opacity: 0;
  animation: fadeInSlideDown 0.7s forwards;
  animation-delay: #{$global-animation-delay}s !important;
  animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1) !important;
}

.titleTextSpan {
  color: rgb(186, 217, 229);
}

@keyframes fadeInSlideDown {
  0% {
    opacity: 0;
    transform: translateY(-10%) scale(1.08);
  }
  100% {
    opacity: 1;
    transform: translateY(0%) scale(1);
  }
}

/* START OF animate rigth navbar icons */
@for $i from 0 through 10 {
  .navBarRightIcons > * > :nth-child(#{$i}n) {
    $delay-between: 0.18;
    $delay: 0.3;
    animation-delay: #{(($i * $delay-between) - $delay-between + $delay) +
      $global-animation-delay}s;
  }
}

.navBarRightIcons > * > * {
  opacity: 0;
  animation: fadeInSlideRight 1s forwards;
  animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1) !important;
}

@keyframes fadeInSlideRight {
  0% {
    opacity: 0;
    transform: translateX(-10%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
/* END OF animate rigth navbar icons */

.indexInputOutputContainer {
  // background-color: red;

  margin-top: 1rem;
  max-width: 90% !important;
  margin-bottom: 0.8rem;
}

.allTextFields .MuiOutlinedInput-root {
  background-color: rgba(255, 255, 255, 0.04);
}

.allTextFields {
  transition: padding-bottom 0.16s ease-out;
}

.allTextFieldsError {
  padding-bottom: 0.3rem !important;
}

.f24sd4268fds246fs4d65 {
  white-space: pre !important;
  overflow: hidden;
  overflow-x: auto;
  height: 100%;
  // transition: max-height 0.4s cubic-bezier(.19,1,.22,1), opacity 0.6s cubic-bezier(.19,1,.22,1);

  backdrop-filter: blur(2px) !important;
  background-color: #101010de !important;
}

.oh1-firstnums {
  color: rgb(119, 147, 255);
}

.oh1-answer {
  color: rgb(176, 92, 41);
}

.oh1-miscchar {
  color: rgb(219, 111, 111);
  font-weight: 500;
}

.oh1-remainder {
  color: rgb(47, 155, 38);
}

.oh1-alternating:nth-of-type(odd) {
  color: rgb(213, 181, 12);
}

.oh1-alternating:nth-of-type(even) {
  color: rgb(255, 64, 64);
}

.fadeinDividedBy > * {
  display: grid;
}

.fadeinadddelay > * {
  transition-delay: 1.62s !important;
}

.MuiFormHelperText-root.Mui-error {
  font-size: 0.82rem !important;
  height: 0;
  margin-top: 0;
}

.snzjgfdnghjkfsnghjf > * {
  align-self: center;
}

@media (max-width: 900px) {
  .f42d4f1d14f5d1d45 {
    display: grid !important;
  }
  .outoptionschild {
    margin-inline: auto !important;
  }
}

.infoDialogInnerDiv {
  h3 {
    text-decoration: underline;
    &:after {
      content: "\00a0\00a0\00a0";
    }
    &:before {
      content: "\00a0";
    }
  }
  p {
    // margin-left: 1rem;
    line-height: 1.4;
  }
}

.bgParticlesWrapper {
  opacity: 0;
  animation: fadeInbgParticlesWrapper 2s forwards;
  animation-delay: #{$global-animation-delay}s !important;
  animation-timing-function: ease-out !important;
}

@keyframes fadeInbgParticlesWrapper {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.MuiAccordionDetails-root {
  display: grid;
}

// .outoptionschildacordicon {
//   // max-width: 80vw;
//   // & * {
//   //   max-width: 80vw;
//   // }
// }

.outoptionschildacordicon > * {
  max-width: 80vw;
}

.MuiAppBar-root.MuiAppBar-colorPrimary.MuiAppBar-positionStatic {
  background-color: revert !important;
  backdrop-filter: blur(3px) !important;
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.04),
    rgba(255, 255, 255, 0.04)
  ) !important;
}

.navBarRightIconsParent:hover {
  .navBarRightIconsChild:not(:hover) {
    scale: var(--nbri-are-small) !important;
  }
}
.navBarRightIconsChild:hover {
  scale: 1.1 !important;
}

.navBarRightIconsChild {
  transition-property: background-color, scale !important;
}
