$global-animation-delay: 0.8;

.titleTextTypography {
  @media (max-width: 590px) {
    font-size: 1.4rem !important;
    justify-self: left !important;
  }

  @media (max-width: 340px) {
    font-size: 1.4rem !important;
    justify-self: left !important;
  }

  @media (max-width: 299px) {
    font-size: 1.2rem !important;
    justify-self: left !important;
  }

  @media (max-width: 254px) {
    font-size: 0.8rem !important;
    word-spacing: 9999px !important;
    white-space: pre-line !important;
    justify-self: left !important;
  }
}

.titleTextSpan {
  color: rgb(186, 217, 229);
}

.titleTextTypography {
  opacity: 0;
  animation-delay: #{$global-animation-delay}s !important;
  animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1) !important;
  animation: fadeInSlideDown 0.7s forwards;
}

@keyframes fadeInSlideDown {
  0% {
    opacity: 0;
    transform: translateY(-10%) scale(1.08);
  }
  100% {
    opacity: 1;
    transform: translateY(0%) scale(1);
  }
}

/* START OF animate rigth navbar icons */
@for $i from 0 through 10 {
  .navBarRightIcons > * > :nth-child(#{$i}n) {
    $delay-between: 0.12;
    $delay: 0.5;
    animation-delay: #{(($i * $delay-between) - $delay-between + $delay) +
      $global-animation-delay}s;
  }
}

.navBarRightIcons > * > * {
  opacity: 0;
}

.navBarRightIcons > * > * {
  animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1) !important;
  animation: fadeInSlideRight 0.6s forwards;
}

@keyframes fadeInSlideRight {
  0% {
    opacity: 0;
    transform: translateX(-10%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
/* END OF animate rigth navbar icons */
